# SPDX-License-Identifier: MIT

DT_COMPAT_TRAVELERS_BATTERY_VOLTAGE_DIVIDER := travelers,battery-voltage-divider

config TRAVELERS_BATTERY_VOLTAGE_DIVIDER
    bool "travelers-board-split switched battery voltage divider"
    default $(dt_compat_enabled,$(DT_COMPAT_TRAVELERS_BATTERY_VOLTAGE_DIVIDER))
    select ADC
    select SENSOR
    help
      Battery sensor for the P0.13-switched 1 Mohm / 1 Mohm divider.
