/*
 * Physical coordinates use 136 units per 17 mm key pitch. This makes the
 * 17/8 mm column stagger (17 units), 17/4 mm thumb offset (34 units), and
 * 12 mm outer-key width (96 units) exact integers.
 */

#include <physical_layouts.dtsi>

/ {
    travelers_board_split_layout: travelers_board_split_layout {
        compatible = "zmk,physical-layout";
        display-name = "Travelers Board Split";
        transform = <&default_transform>;

        keys //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs  96 136   40   34       0     0     0> /* R0 C0 */
            , <&key_physical_attrs 136 136  136   34       0     0     0> /* R0 C1 */
            , <&key_physical_attrs 136 136  272   17       0     0     0> /* R0 C2 */
            , <&key_physical_attrs 136 136  408    0       0     0     0> /* R0 C3: left middle */
            , <&key_physical_attrs 136 136  544   17       0     0     0> /* R0 C4 */
            , <&key_physical_attrs 136 136  680   34       0     0     0> /* R0 C5 */
            , <&key_physical_attrs 136 136  952   34       0     0     0> /* R0 C6 */
            , <&key_physical_attrs 136 136 1088   17       0     0     0> /* R0 C7 */
            , <&key_physical_attrs 136 136 1224    0       0     0     0> /* R0 C8: right middle */
            , <&key_physical_attrs 136 136 1360   17       0     0     0> /* R0 C9 */
            , <&key_physical_attrs 136 136 1496   34       0     0     0> /* R0 C10 */
            , <&key_physical_attrs  96 136 1632   34       0     0     0> /* R0 C11 */

            , <&key_physical_attrs  96 136   40  170       0     0     0> /* R1 C0 */
            , <&key_physical_attrs 136 136  136  170       0     0     0> /* R1 C1 */
            , <&key_physical_attrs 136 136  272  153       0     0     0> /* R1 C2 */
            , <&key_physical_attrs 136 136  408  136       0     0     0> /* R1 C3 */
            , <&key_physical_attrs 136 136  544  153       0     0     0> /* R1 C4 */
            , <&key_physical_attrs 136 136  680  170       0     0     0> /* R1 C5 */
            , <&key_physical_attrs 136 136  952  170       0     0     0> /* R1 C6 */
            , <&key_physical_attrs 136 136 1088  153       0     0     0> /* R1 C7 */
            , <&key_physical_attrs 136 136 1224  136       0     0     0> /* R1 C8 */
            , <&key_physical_attrs 136 136 1360  153       0     0     0> /* R1 C9 */
            , <&key_physical_attrs 136 136 1496  170       0     0     0> /* R1 C10 */
            , <&key_physical_attrs  96 136 1632  170       0     0     0> /* R1 C11 */

            , <&key_physical_attrs  96 136   40  306       0     0     0> /* R2 C0 */
            , <&key_physical_attrs 136 136  136  306       0     0     0> /* R2 C1 */
            , <&key_physical_attrs 136 136  272  289       0     0     0> /* R2 C2 */
            , <&key_physical_attrs 136 136  408  272       0     0     0> /* R2 C3 */
            , <&key_physical_attrs 136 136  544  289       0     0     0> /* R2 C4 */
            , <&key_physical_attrs 136 136  680  306       0     0     0> /* R2 C5 */
            , <&key_physical_attrs 136 136  952  306       0     0     0> /* R2 C6 */
            , <&key_physical_attrs 136 136 1088  289       0     0     0> /* R2 C7 */
            , <&key_physical_attrs 136 136 1224  272       0     0     0> /* R2 C8 */
            , <&key_physical_attrs 136 136 1360  289       0     0     0> /* R2 C9 */
            , <&key_physical_attrs 136 136 1496  306       0     0     0> /* R2 C10 */
            , <&key_physical_attrs  96 136 1632  306       0     0     0> /* R2 C11 */

            , <&key_physical_attrs  96 136   40  442       0     0     0> /* R3 C0 */
            , <&key_physical_attrs 136 136  544  442       0     0     0> /* R3 C4: left outer thumb */
            , <&key_physical_attrs 136 136  680  442       0     0     0> /* R3 C5: left inner thumb */
            , <&key_physical_attrs 136 136  952  442       0     0     0> /* R3 C6: right inner thumb */
            , <&key_physical_attrs 136 136 1088  442       0     0     0> /* R3 C7: right outer thumb */
            , <&key_physical_attrs  96 136 1632  442       0     0     0> /* R3 C11 */
            ;
    };
};
